$darker-primary-color:  #005C65;
$dark-primary-color:    #0097A7; 
$default-primary-color: #00BCD4; 
$light-primary-color:   #B2EBF2; 
$text-primary-color:    #FFFFFF; 
$accent-color:          #8BC34A; 
$secondary-accent-color:#CC0000; 
$primary-text-color:    #212121; 
$secondary-text-color:  #757575; 
$divider-color:         #BDBDBD; 
$bg-special-color:      #FFF2BA;
