<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>470536892335-s37t7vi05t5leao9cu6bamm02j8nbl2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470536892335-s37t7vi05t5leao9cu6bamm02j8nbl2m</string>
	<key>API_KEY</key>
	<string>AIzaSyA3M6bQVTwmkKCpmx_ne8lG3gnNNlHjl7s</string>
	<key>GCM_SENDER_ID</key>
	<string>470536892335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.linfaservice.cloudgallery</string>
	<key>PROJECT_ID</key>
	<string>cloudgallery-184fd</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudgallery-184fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470536892335:ios:49b2376aed4e2817</string>
	<key>DATABASE_URL</key>
	<string>https://cloudgallery-184fd.firebaseio.com</string>
</dict>
</plist>