<ActionBar title="">
    <DockLayout stretchLast="true">      
        <Label dock="left"
            class="fa actionbar-icon actionbar-icon-left"
            text="{{'fa-angle-left' | fonticon}}" 
            (tap)="back()"
            (touch)="util.onTouchEffect($event)" >
        </Label>   
        <Label class="header" [text]="cache.currentImage.title" ></Label> 
    </DockLayout>
</ActionBar>

<StackLayout id="main"> 
        
    <SlideContainer #slideContainer class="slide-container animation"
        angular="true"
        loop="true"
        pageIndicators="false" 
        (changed)="onSwipe()">

        <Slide *ngFor="let item of images">
            <DockLayout stretchLast="true" class="slide">
                <DockLayout dock="bottom" stretchLast="true" class="bottombar">
                    <StackLayout dock="right" *ngIf="!item.loaded" orientation="horizontal">
                        <Label class="loading1"></Label>
                        <Label class="loading2"></Label>
                        <Label class="loading3"></Label>
                    </StackLayout>
                    <StackLayout dock="right" *ngIf="item.loaded" orientation="horizontal">
                        <Label 
                            class="fa btn-share"
                            text="{{'fa-share-alt' | fonticon}}"  
                            (tap)="onTap(item)"
                            (touch)="util.onTouchEffect($event)">
                        </Label>
                    </StackLayout>        
                    <Label dock="left" class="label" [text]="item.title"></Label>
                </DockLayout>                 
                <Image dock="top"
                    [src]="'data:image/jpg;base64,'+item.src" >
                </Image> 
            </DockLayout>          
        </Slide>
    </SlideContainer>  

    <!--Button #btn_close
        class="button"
        id="close" text="Chiudi"
        (tap)="close()"
        (touch)="onTouchEffect($event)">
    </Button-->    

</StackLayout>
